<template>
  <div class="grid grid-cols-1 md:grid-cols-1 mt-10">
    <div class="flex justify-center">
      <div
        class="p-4 max-w-full bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700 w-96">
        <form @submit.prevent="save(dataClinic)">
          <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
              <input id="1" aria-describedby="terms" type="checkbox"
                class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                v-model="dataClinic.tieneAntecedentes" />
            </div>
            <div class="ml-3 text-sm">
              <label for="1" class="font-medium text-gray-900 dark:text-gray-300">Tiene antecedentes</label>
            </div>
          </div>

          <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
              <input id="2" aria-describedby="terms" type="checkbox"
                class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                v-model="dataClinic.contactoCovid" />
            </div>
            <div class="ml-3 text-sm">
              <label for="2" class="font-medium text-gray-900 dark:text-gray-300">Contacto Covid</label>
            </div>
          </div>
          <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
              <input id="3" aria-describedby="terms" type="checkbox"
                class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                v-model="dataClinic.estaVacunado" />
            </div>
            <div class="ml-3 text-sm">
              <label for="3" class="font-medium text-gray-900 dark:text-gray-300">Esta Vacunado</label>
            </div>
          </div>

          <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
              <input id="4" aria-describedby="terms" type="checkbox"
                class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                v-model="dataClinic.tieneFatiga" />
            </div>
            <div class="ml-3 text-sm">
              <label for="4" class="font-medium text-gray-900 dark:text-gray-300">Tiene Fatiga</label>
            </div>
          </div>

          <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
              <input id="5" aria-describedby="terms" type="checkbox"
                class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                v-model="dataClinic.dificultadRespirar" />
            </div>
            <div class="ml-3 text-sm">
              <label for="5" class="font-medium text-gray-900 dark:text-gray-300">Dificultad al Respirar</label>
            </div>
          </div>

          <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
            <input type="email" id="email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500 dark:shadow-sm-light"
              placeholder="pepito1213@example.com" v-model="dataClinic.email" disabled />
          </div>

          <div class="mb-6">
            <label for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Descripción</label>
            <textarea id="description" rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-sky-500 focus:border-sky-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
              placeholder="Descripción ...." v-model="dataClinic.description"></textarea>
          </div>

          <input type="submit"
            class="text-white bg-sky-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-sky-500 dark:focus:ring-blue-800"
            value="Guardar" />

        </form>
      </div>
    </div>
  </div>
</template>

<script>
import cuadroClinicoService from "../services/dashboard"
export default {
  data() {
    return {
      dataClinic: {
        tieneAntecedentes: false,
        email: null,
        contactoCovid: false,
        estaVacunado: false,
        tieneFatiga: false,
        dificultadRespirar: false,
        description: null,
      },
    }
  },
  mounted() {
    this.dataClinic.email = localStorage.getItem('email');
  },
  methods: {
    async save(data) {
      const response = await cuadroClinicoService.cuadroClinico(data);
      if (response.status === 200) {
        alert("El registro se guardo exitosamente :)");
      } else {
        alert("Oh oh! Algo salio mal :(");
      }
    }
  },
};
</script>

<style lang="scss" scoped>
</style>
