<template>
    <div class="min-h-screen bg-gray-100 text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl mx-auto text-center">
            <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
                <form @submit.prevent="loginUser(user)">
                    <div class="py-6 px-8 w-96">
                        <h2 class="text-center font-semibold">Login</h2>
                        <label class="block font-semibold">Email</label>
                        <input v-model="user.email" type="text" placeholder="pepipto123@example.com"
                            class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-sky-500 rounded-md" />
                        <label class="block mt-3 font-semibold">Contraseña</label>
                        <input v-model="user.password" type="password" placeholder="*********"
                            class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-sky-500 rounded-md" />
                        <div class="flex justify-center items-baseline">
                            <input class="mt-4 bg-sky-500 text-white py-2 px-6 rounded-lg" type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
// import * as routeTypes from "../../enum/route-types";
import * as actionTypes from "../store/action-types";
export default {
    name: 'Login',
    data() {
        return {
            user: {
                email: null,
                password: null
            }
        }
    },
    created() {
        if (!localStorage.user_register) {
            localStorage.user_register = []
        }

    },
    mounted() {

    },
    computed: {
        ...mapState([
            "authentication"
        ])
    },
    methods: {
        ...mapActions({
            login: actionTypes.LOG_IN
        }),

        async loginUser(user) {
            await this.login(user);
            if (this.authentication.authenticated) {
                this.$router.push({
                    path: '/'
                })
            }
        },

        register() {
            this.$router.push({
                path: '/register'
            })
        }
    },
}
</script>

<style lang="scss" scoped>
</style>