<template>
    <div>
        <div>
            <div class="grid grid-cols-1 md:grid-cols-1 mt-10">
                <div class="flex justify-center">
                    <div
                        class="p-4 w-4/6 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
                        <h2 class="font-semibold mb-3">Registro de los colaboradores</h2>
                        <div class="mb-6">
                            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead
                                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Documento
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Nombre
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Apellido
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Fecha Nacimiento
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Email
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Cargo
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                                            v-for="item in dataCollaborates" :key="item.id">
                                            <th scope="row"
                                                class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                                {{ item.documento }}
                                            </th>
                                            <td class="px-6 py-4">
                                                {{ item.nombre }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.apellido }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.fechaNacimiento }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.email }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.cargo }}
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import getAllColaboradoresService from "../services/dashboard";
export default {
    data() {
        return {
            dataCollaborates: [],
        };
    },
    mounted() {
        this.getAll();
    },

    methods: {
        async getAll() {
            const { data } = await getAllColaboradoresService.getAllColaborador();
            this.dataCollaborates = data;
        }
    },
}
</script>

<style lang="scss" scoped>
</style>