<template>
    <div>
        <div class="grid grid-cols-1 md:grid-cols-1 mt-10">
            <div class="flex justify-center">
                <div
                    class="p-4 w-4/6 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <form>
                        <div class="mb-6">
                            <label for="states"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Estado</label>
                            <select id="states"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option>ACTIVO</option>
                                <option>ALERTA</option>
                                <option>CRITICO</option>
                            </select>
                        </div>

                        <div class="mb-6">
                            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead
                                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Colaborador
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Tiene antecedentes
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Contacto Covid
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Estado Vacunado
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Estado
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Tiene Fatiga
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Dificultad respirar
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Descripcion
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                                            v-for="(item, index) in dataState" :key="index">
                                            <th scope="row"
                                                class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                                {{ item.colaborador.nombre }}
                                            </th>
                                            <td class="px-6 py-4">
                                                {{ item.tieneAntecendes ? "SI" : "NO" }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.contactoCovid ? "SI" : "NO" }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.estaVacunado ? "SI" : "NO" }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.colaborador.estado }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.tieneFatiga ? "SI" : "NO" }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.dificultaRespirar ? "SI" : "NO" }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ item.descripcion }}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import searchStateService from "../services/dashboard";
export default {
    data() {
        return {
            state: "ACTIVO",
            dataState: []
        }
    },
    mounted() {
        this.search(this.state)
    },

    methods: {
        async search(state) {
            const { data } = await searchStateService.buscarEstado(state);
            this.dataState = data;
        }
    },

}
</script>

<style lang="scss" scoped>
</style>